Lab5_part2_PowerApps/DETaxiDemo_configurations/Workflows/ProcessYellowTaxiEmail-5D6C76A8-68AD-EF11-B8E9-7C1E524DC659.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tax_sharedoffice365_dcd4b"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_onedriveforbusiness": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "tax_sharedonedriveforbusiness_5af94"
        },
        "api": {
          "name": "shared_onedriveforbusiness"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_new_email_arrives_(V3)": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "76211b8d-ea91-4450-9d18-c144501346bf"
          },
          "type": "OpenApiConnectionNotification",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "OnNewEmailV3",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "folderPath": "Inbox",
              "to": "ebenezer.quayson@amalitech.com",
              "includeAttachments": true,
              "subjectFilter": "YellowTaxi",
              "importance": "Any",
              "fetchOnlyWithAttachment": false
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Apply_to_each_5": {
          "foreach": "@triggerOutputs()?['body/attachments']",
          "actions": {
            "Get_Attachment_(V2)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9fa391c9-d781-4161-8216-72a490497b2f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "GetAttachment_V2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "messageId": "@triggerOutputs()?['body/id']",
                  "attachmentId": "@items('Apply_to_each_5')?['id']"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Create_file_2": {
              "runAfter": {
                "Get_Attachment_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "51ac6c8c-b735-4494-8081-fb848369838c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_onedriveforbusiness",
                  "operationId": "CreateFile",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"
                },
                "parameters": {
                  "folderPath": "/DEPowerAutomate",
                  "name": "@outputs('Get_Attachment_(V2)')?['body/name']",
                  "body": "@outputs('Get_Attachment_(V2)')?['body/contentBytes']"
                },
                "authentication": "@parameters('$authentication')"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "46d85226-a61c-4355-af0f-f753f91dead7"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}